body {
    background-color: wheat;
  }

.button {
    
    border: none;
    color: lightgrey;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  position: absolute;
  top: 50;
  left: 50;
}
.button2 {
  position: absolute;
  top: 50;
  left: 200;
}
.button3 {
  position: absolute;
  top: 50;
  left: 350;
}
  
#stream {
  position: absolute;
  top: 0;
  left: 100;
  width: 40vw;
  height: 20vh;
  background: lightblue;
}

#video {
  position: absolute;
  top: 0;
  left: 800;
  width: 60vw;
  height: 150vh;
  background: wheat;
}

#control {
  position: absolute;
  top: 180;
  left: 100;
  width: 40vw;
  height: 20vh;
  background: lightcyan;
}

#bluetooth {
  position: absolute;
  top: 350;
  left: 100;
  width: 40vw;
  height: 20vh;

}