<html>
    <head>
        <title>Group104 User Interface</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'index_styles.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>

        <div id = "video">
            <p><b>   Camera </b></p>
                <img src="{{ url_for('video_stream') }}" alt = "Processed Stream">
        </div>
        <div id = "control">

            <p><b>Control</b></p>
            <p id = "state"></p>
            <button type="button" class = "button button1" onclick = power_on()>
                <span style="color:black;font-weight:bold">Start Up</span></button>
            <button type="button" class = "button button3" onclick = power_off()>
                <span style="color:black;font-weight:bold">Power off</span></button>

        </div>
        <div id = "bluetooth">
            <div class="w3-container">
                <h2>Bluetooth Communication</h2>
              </div>
              
              <form class="w3-container" method="POST">
                <p>
                  <input class="w3-input" type="submit" name = "stop" value="Stop">
                </p>
              </form>
              
              <form class="w3-container" method="POST">
                <p>
                  <input class="w3-input" type="submit" name = "follow-line" value="Follow line">
                </p>
              </form>            
              
              <form class="w3-container" method="POST">
                <p>
                  <input class="w3-input" type="submit" name = "check-fruit" value="Check fruit">
                </p>
              </form>
              <form class="w3-container" method="POST">
                <p>
                  <div class="w3-row">
                    <div class="w3-col" style="width:40%">
                      <h5 style="text-align:center;">Angle (&#176;)</h5>
                    </div>
                    <div class="w3-col" style="width:40%">
                      <h5 style="text-align:center;">Distance (mm)</h5>
                    </div>
                    <div class="w3-col" style="width:20%"></div>
                  </div>
                  
                  <div class="w3-row-padding">
                    <div class="w3-col" style="width:40%">
                      <input class="w3-input" type="number" name="angle" min="-180" max="179" step="1" value="0">
                    </div>
                    <div class="w3-col" style="width:40%">
                    <input class="w3-input" type="number" name="distance" min="0" max="65535" step="1" value="0">
                    </div>
                    <div class="w3-col" style="width:20%">
                      <input class="w3-input" type="submit" name = "find-fruit" value="Find fruit">
                    </div>
                  </div>
                  
              </form>
              
              <form class="w3-container" method="POST">
                <p>
                  <div class="w3-row">
                    <div class="w3-col" style="width:40%">
                      <h5 style="text-align:center;">Angle (&#176;)</h5>
                    </div>
                    
                    <div class="w3-col" style="width:40%">
                      <h5 style="text-align:center;">Distance (mm)</h5>
                    </div>
                  </div>
                  
                  <div class="w3-row-padding">
                    <div class="w3-col" style="width:40%">
                    <input class="w3-input" type="number" name="angle" min="-180" max="179" step="1" value="0">
                    </div>
                    
                    <div class="w3-col" style="width:40%">
                      <input class="w3-input" type="number" name="distance" min="0" max="65535" step="1" value="0">
                    </div>
                    
                    <div class="w3-col" style="width:20%">
                      <input class="w3-input" type="submit" name = "find-line" value="Find line">
                    </div>
                  </div>
                  
              </form>
              
        </div>
        
    </body>
</html>

<script>
    

function streaming_on(id){

    if(document.getElementById("streaming").innerHTML == "Preparing...")
    {
        document.getElementById("streaming").innerHTML = "Now Live";
    }

    fetch('/commands', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "toggle_streaming":  1
        })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {
        console.log('POST response: ');
        console.log(text);
});

}

function streaming_off(id){

    if(document.getElementById("streaming").innerHTML == "Now Live")
    {
        document.getElementById("streaming").innerHTML = "Preparing...";
    }

    fetch('/commands', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "toggle_streaming":  0
        })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // Should be 'OK' if everything was successful
        console.log(text);
});

}

function power_on(id){

    document.getElementById("state").innerHTML = "powered on";

    fetch('/commands', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "power_on":  1
        })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // Should be 'OK' if everything was successful
        console.log(text);
    });
}


function pause(id){


    document.getElementById("state").innerHTML = "paused";
    fetch('/commands', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "power_on":  10
        })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // Should be 'OK' if everything was successful
        console.log(text);
    });
}


function power_off(id ){


    document.getElementById("state").innerHTML = "powered off";

    fetch('/commands', {

        // Declare what type of data we're sending
        headers: {
        'Content-Type': 'application/json'
        },

        // Specify the method
        method: 'POST',

        // A JSON payload
        body: JSON.stringify({
            "power_on":  0
        })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {

        console.log('POST response: ');

        // Should be 'OK' if everything was successful
        console.log(text);
    });
}
</script>